.quiz {
  padding: 1rem;
  border: 1px solid #fff;
  width: var(--content-max-width);

  &:has() {
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      color: var(--fg-color);
      padding: 0.3rem 1rem;
      border: 1px solid var(--fg-color);
      /* justify-self: end; */
    }
  }

  &::before {
    content: "Quiz";
    font-weight: 600;
  }
}
