.quiz {
  padding: 3rem 1rem;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  position: relative;

  a#prev-question,
  a#next-question {
    width: 50px;
    text-decoration: none;
    fill: var(--icon-color);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      fill: var(--icon-color);
    }

    &:hover {
      background-color: var(--bg-hover-color);
      svg {
        fill: var(--fg-color);
        text-decoration: underline;
      }
    }
  }

  button#finish {
    display: none;

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  ol {
    position: relative;
    width: 700px;
    padding: 0 1rem !important;

    > li {
      display: none;

      > * {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .answer {
        padding-left: 2rem;
      }

      &.active {
        display: block;
      }
    }

    &:has(li.active:is(:last-child)) ~ button#finish {
      display: block;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: transparent;
      color: var(--fg-color);
      padding: 0.3rem 1rem;
      border: 1px solid var(--fg-color);
    }
  }

  &:not(.finished) {
    .explanation {
      display: none;
    }
  }

  &.finished {
    .answer[data-correct="true"] {
      position: relative;
      background-color: rgba(0, 255, 0, 0.2);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: green;
      }
    }
    .answer:has(input:checked):not(.answer[data-correct="true"]) {
      position: relative;
      background-color: rgba(255, 0, 0, 0.2);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        background-color: red;
      }
    }
  }

  &::before {
    content: "Quiz";
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight: 600;
    display: flex;
  }

  .correct-answer-counter {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.quiz:not(:has(li.active:is(:first-child))) > a#prev-question,
.quiz ol:not(:has(li.active:is(:last-child))) ~ a#next-question {
  transition: 0.2s ease-in-out;
}
.quiz:has(li.active:is(:first-child)) > a#prev-question,
.quiz ol:has(li.active:is(:last-child)) ~ a#next-question {
  visibility: hidden;
}
