#sidebar {
  background-color: var(--sidebar-bg-color);
  padding: 20px;
  width: var(--sidebar-width);
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  transition: var(--sidebar-hiding-time) ease-in-out;

  > button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    left: calc(var(--sidebar-width) - 50px);

    svg {
      width: 30px;

      g,
      path {
        stroke: var(--icon-color);
        fill: var(--icon-color);
        transition: 0.2s ease-in-out;
      }

      &:hover g,
      &:hover path {
        fill: var(--fg-color);
        stroke: var(--fg-color);
      }
    }
  }

  ol,
  ul {
    list-style: none;

    a {
      color: var(--fg-color);
      text-decoration: none;
    }

    li {
      margin-bottom: 0.5rem;

      &.active > a {
        color: var(--link-color);
      }

      a:hover {
        color: var(--link-color);
      }
    }
  }

  > ol {
    counter-reset: section;

    > li {
      counter-increment: section;

      a::before {
        content: counter(section) ". ";
        font-weight: 700;
      }

      > ol {
        counter-reset: subsection;
        margin-left: 1rem;

        > li {
          counter-increment: subsection;

          a::before {
            content: counter(section) "." counter(subsection) ". ";
            font-weight: 700;
          }

          &.quiz-chapter {
            a::before {
              content: "";
            }
          }
        }
      }
    }
  }

  &[aria-hidden="true"] {
    left: calc(0px - var(--sidebar-width));

    ~ #page-wrapper {
      margin-left: 0px;

      header {
        left: 0px;
      }

      a#prev {
        left: 2rem;
      }
    }
  }
}
